@import '../node_modules/bootstrap/scss/bootstrap.scss';

h1 {
    margin: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

#print, #settings {
    position: absolute;
    top: 20px;
    width: 50px;
    cursor: pointer;
}

#print {
    right: 20px;
}

#settings {
    left: 20px;
}

.card {
    width: 800px;
    height: 340px;
    border: solid 15px black;
    margin: 0 auto 10px;
    position: relative;
    page-break-inside: avoid;
    background: white;
    border-radius: 5px;
}

.card-key {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #97CDFC;
    font-size: 170px;
    text-align: center;
    line-height: 310px;
    font-weight: bold;
    z-index: 1000;
    opacity: 0.5;
}

.card-title, .card-description {
    position: relative;
    z-index: 2;
}

.card-title {
    margin: 20px 80px 20px 20px;
}

.card-description {
    margin: 20px;
    font-size: 13px;
    line-height: 16px;
    max-height: 200px;
    overflow: hidden;
}

.card-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    color: #DE1B35;
    z-index: 3;
}

.card-complexity {
    position: absolute;
    top: 0;
    right: 0;
    height: 75px;
    width: 75px;
    font-size: 30px;
    line-height: 75px;
    text-align: center;
    border-radius: 0 5px;
    border: solid 4px black;
    border-top: none;
    border-right: 0;
}

.remove {
    position: absolute;
    right: -30px;
    top: -30px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, #cc0000 0%,#cc0000 100%);
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 0px 5px #fff;
    cursor: pointer;
}

#settings-container {
    display: none;
    background: linear-gradient(to bottom, #dddddd 0%,#c9c9c9 100%);
    padding: 50px;
    box-shadow: 0 0 3px #000;
}

#settings-container.show {
    display: block;
}

#settingsForm .input-group-addon {
    min-width: 220px;
}

@media print {
    html, body, #cards {
        margin: 0;
        padding: 0;
    }

    header, #print, #settings, .remove, #settings-container {
        display: none;
    }

    .cards {
        margin-bottom: 5px;
    }
}
